@(projectForm: Form[Project], ownedProjects: List[Project], contribProjects: List[Project])

@index("projects") {


@if(projectForm.hasErrors) {
	<div class="alert alert-error">
	@if(projectForm.error("") != null) {
		@projectForm.error("").message 
	}
	</div>
} @if(flash.contains("success")) {
	<div class="alert alert-success">@flash.get("success")</div>
}

<a href="#myModal" role="button" class="btn btn-primary"
	data-toggle="modal">Add new project</a>

<h3>Projects created by you</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>name</th>
			<th>description</th>
		</tr>
	</thead>
	@for(project <- ownedProjects) {
  		<tr>
  			<td><a href="@routes.Projects.projectMain(project.id)">@project.name</a></td>
  			
  			<td>@project.description</td>
  		
  		</tr>
	} 
</table>

<h3>Projects you contribute to</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>name</th>
			<th>description</th>
		</tr>
	</thead>
	@for(project <- contribProjects) {
  		<tr>
  			<td><a href="@routes.Projects.projectMain(project.id)">@project.name</a></td>
  			
  			<td>@project.description</td>
  		
  		</tr>
	} 
</table>



<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">x</button>
		<h3 id="myModalLabel">Create a new project</h3>
	</div>
	<div class="modal-body">
		@helper.form(routes.Projects.addProject(), 'class -> "form-signin") {
			<fieldset>
				@helper.inputText(projectForm("name"), 'class ->
				"input-block-level", '_label -> "", 'placeholder -> "Project name")
				@helper.textarea(projectForm("description"), 'class ->
				"input-block-level", '_label -> "", 'placeholder -> "Description")
				<button class="btn btn-large btn-primary" type="submit"> Create project </button>
			</fieldset>
		}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>
}
