@(loginform: Form[Application.Register]) @styles = { @loginStyles() }

@main("Register", styles = styles) {


<div class="container">


	<h1>Welcome to tasks manager</h1>
	<ul class="nav nav-tabs">
		<li><a href="@routes.Application.login()">Sign in</a></li>
		<li class="active"><a href="#">Register</a></li>
		<li><a href="#">About</a></li>
	</ul>
	<div class="row">
		<div class="span4">
			<h2>Tasks manager</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce
				dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
				ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
				magna mollis euismod. Donec sed odio dui.</p>
			<p>
				<a class="btn" href="#">View details</a>
			</p>
		</div>
		<div class="span4">
			@helper.form(routes.Application.register(), 'class -> "form-signin") {
			<fieldset>
				<h2 class="form-signin-heading">Register</h2>
				@if(loginform.hasErrors) {
					<div class="alert alert-error"> 
					@if(loginform.error("") != null) {
						@loginform.error("").message
					}
					@if(loginform.hasGlobalErrors) {
						@loginform.globalError.message
					} else {
						Registration form incorrect
					}
					 </div>
				} @if(flash.contains("success")) {
				<div class="alert alert-success">@flash.get("success")</div>
				} @helper.inputText(loginform("login"), 'class ->
				"input-block-level", '_label -> "", 'placeholder -> "Login")
				@helper.inputPassword(loginform("password"), 'class ->
				"input-block-level", '_label -> "", 'placeholder -> "Password")
				@helper.inputPassword(loginform("confPassword"), 'class ->
				"input-block-level", '_label -> "", 'placeholder -> "Confirm Password")
				<button class="btn btn-large btn-primary" type="submit">Register</button>
			</fieldset>

			}
		</div>

	</div>


</div>
<!--/.fluid-container-->

}
