@(task: Task)

@index("Tasks Manager", scripts = jtableScript) {

<ul class="pager">
    <li class="previous">
    	<a href="@routes.Tasks.tasks(task.project.id)">&larr; Back to project</a>
    </li>
</ul>
    
<h3>[@task.taskNumber] @task.name</h3>

<hr>

<div class="row">
	<div class="span8">
		<h5>Description: </h5>
		<pre>@task.description</pre>
	</div>
	
	<div class="span4">
		<h5>Priority: @task.priority</h5>
		<h5>Type of task: @task.taskKind</h5>
		<h5>Created: @task.creationDate</h5>
		<h5>Due date: @task.dueDate</h5>
		<h5>Created by: @task.creator.login</h5>
		<h5>Assigned to: @if(task.assignee != null) { @task.assignee.login } else {-}</h5>
		@if(task.mileStone != null) { <h5>Mile stone: @task.mileStone.name</h5> }
		<h5>Status: @task.taskStatus</h5>
		@if(task.taskStatus == TaskStatus.OPENED) {
			<a class="btn btn-success btn-large" href="@routes.Tasks.closeTask(task.project.id, task.taskNumber)">
				Close
			</a>
		} else {
			<a class="btn btn-danger btn-large" href="@routes.Tasks.reopenTask(task.project.id, task.taskNumber)">
				Reopen
			</a>
		}
	</div>

</div>
<hr>

<div class="row">

	<div id="container"></div>
	
	<div class="span6">
	<h4>History</h4>
	@for(event <- task.historyEvents.reverse) {
		@if(event.user != null) {
			<h6>@event.user.login <small>@event.date</small></h6>
		}
		@if(event.changeTo != null) {
			<h5><i class="icon-refresh"></i>@event.changeTo</h5>
			
		} else {
			<pre>@event.comment</pre>
		}
		<hr>
	}
	</div>
	<div class="span5">
	@helper.form(routes.Tasks.commentTask(task.project.id, task.taskNumber), 'class ->"form-horizontal") {
			<fieldset>
				<div class="control-group">
					<textarea rows="10" cols="1000" id="comment" name="comment" style="width: 100%"></textarea>
				</div>
				<div class="control-group">
					<button class="btn btn-large btn-primary" type="submit">Comment</button>
				</div>
				
			</fieldset>

	}
	<hr>
	@helper.form(routes.Tasks.reportHours(task.project.id, task.taskNumber), 'class ->"form-inline") {
			<fieldset>
					<input type="text" rows="1" cols="10" id="hoursCount" name="hoursCount"></textarea>
				
					<button class="btn btn-small btn-info" type="submit">Report work hours</button>
			</fieldset>

	}
	<div id="HoursTableContainer"></div>
	
	</div>
</div>

}

@jtableScript = {
<script type="text/javascript">
        $(document).ready(function () {
            $('#HoursTableContainer').jtable({
                title: 'Reported Work Hours',
                actions: {
                    listAction: '@routes.Tasks.listWorkReports(task.project.id, task.taskNumber)'
                },
                fields: {
                    contributor: {
                        title: 'Contributor'
                    },
                    hoursCount: {
                        title: 'Hours of work'
                    },
                    date: {
                        title: 'Date',
                        type: 'date'
                    },
                }
            });
            $('#HoursTableContainer').jtable('load');
            
           
            $.getJSON("@routes.TaskContributionCharts.contributionDates(task.project.id, task.taskNumber)",function(json){
            	prepareChart(json);
            });
            
            function prepareChart(contributionData) {
	            $('#container').highcharts({
	                chart: {
	                    type: 'column'
	                },
	                title: {
	                    text: 'Work hours'
	                },
	                subtitle: {
	                    text: 'You can report your work below'
	                },
	                xAxis: {
	                	categories: contributionData.categories
	                },
	                yAxis: {
	                    min: 0,
	                    title: {
	                        text: 'hours of work'
	                    }
	                },
	                tooltip: {
	                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
	                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
	                        '<td style="padding:0"><b>{point.y:.1f} hours</b></td></tr>',
	                    footerFormat: '</table>',
	                    shared: true,
	                    useHTML: true
	                },
	                plotOptions: {
	                    column: {
	                        pointPadding: 0.2,
	                        borderWidth: 0
	                    }
	                },
	                series: contributionData.series
	            });
            }
            
        });



</script>

}

